@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'montserrat';
    font-size: 2rem;
    text-align: center;
    margin: 0;
    height: 150px;
    width: 100%;
    display: flex;
    color: rgb(68, 83, 91);
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    font-size: 4rem;
    margin: 0;
    margin-bottom: 20px;
    color: #232323;
    font-family: "Montserrat";
}

p{
    font-family: 'Lato';
    font-size: 1.2rem;
    text-align: center;
}

/* NAV */

.inicio_logo_bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.inicio__nav{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.inicio__nav__botones{
    text-decoration: none;
    font-family: 'lato';
    font-weight: bold;
    color: #F43614;
    position: relative;
    
}

.inicio__nav__botones::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #F43614;
    transition: width .6s ease;
}

.inicio__nav__botones:hover::after{
    width: 100%;
}

.inicio__nav__botones .active {
    background-color: #f5f4f4; /* Cambia los colores según tu diseño */
    color: #233D56;
    font-weight: bold;
}

/* INICIO */

.inicio{
    height: 100vh;
    width: 100%;
}

.inicio__clases{
    display: flex;
    text-align: center;
    justify-content: center;
    height: calc(100% - 80px);
}

.inicio__entrenadora{
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    height: 80%;
    filter: drop-shadow(0 -10px 20px #2323238e);
}

/* INICIO DANCE */

.inicio__dance{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inicio__dance__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.inicio__dance__titulo{
    color: #44535B;
}

.inicio__clases h2{
    font-family: 'montserrat';
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

/* INICIO COMBAT */

.inicio__combat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.inicio__combat__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.inicio__combat__titulo{
    color: #B42E39;
}

/* INICIO CTAs y Fotos */

.inicio__cta__container{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 20px;
}

.inicio__cta__container a{
    font-family: "Lato";
    border-radius: 32px;
    font-size: 1.5rem;
    padding: 8px 32px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-decoration: none;
}
.inicio__cta_principal{
    background-color: #F43614;
    color: #f5f4f4;
    transition: background-color .6s;
}

.inicio__cta_principal:hover{
    background-color: #232323;

}

.inicio__cta_secundario{
    background-color: transparent;
    color: #F43614;
    transition: color .6s;
}

.inicio__cta_secundario:hover{
    color: #232323;
}

.inicio__fotos{

    width: 100%;
}

/* BENEFICIOS */

.beneficios{
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
    gap: 10%;
    padding: 4% 0;
    flex-direction: column;
}

.beneficios__container__principal{
    display: flex;
    gap: 50px;
}

.beneficios__container{
    width: 100%;
    height: 100%;
}

.beneficios h1{
    font-size: 4rem;
}

.beneficios__combat{
    color: #B42E39;
}

.beneficios__subtitulo{
    font-size: 2rem;
    font-family: "montserrat";
    text-align: center;
}

.beneficios__lista {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

.beneficios__lista__punto{
    margin: 10px 0;
    list-style: none;
    list-style-image: url("./img/estilos_lista.svg");
}
/* HORARIOS */
.horarios {
    width: 100%;
    background-color: #F8F8F8;
    height: auto;
    padding: 5% 0;
}

.horarios-container {
    max-width: 1200px;
    margin: 0 auto;
}

.horarios-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    border: 2px solid #232323;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    grid-template-areas: 
        "lunes martes miercoles jueves viernes sabado"
        "CG-9hs-lunes . CG-9hs-miercoles . CG-9hs-viernes ."
        "CG-13hs-lunes . CG-13hs-miercoles . CG-13hs-viernes ."
        ". . . . . FD-16hs-sabado"
        "CG-18hs-lunes . CG-18hs-miercoles CG-18hs-jueves . ."
        ". FD-18hs-martes . . . CG-18hs-sabado";
}

.day {
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2rem;
    font-family: "Montserrat";
}

.class {
    text-align: center;
    font-size: 1rem;
    padding: 10px;
    border-radius: 12px;
    color: #F8F8F8;
    font-family: "Lato";
}

.red {
    background-color: #B42E39;
}

.grey {
    background-color: #44535B;
}

/* Asignación de áreas de grid para días */
#lunes { grid-area: lunes; }
#martes { grid-area: martes; }
#miercoles { grid-area: miercoles; }
#jueves { grid-area: jueves; }
#viernes { grid-area: viernes; }
#sabado { grid-area: sabado; }

/* Asignación de áreas de grid para horarios */
#CG-9hs-lunes { grid-area: CG-9hs-lunes; }
#CG-9hs-miercoles { grid-area: CG-9hs-miercoles; }
#CG-9hs-viernes { grid-area: CG-9hs-viernes; }

#CG-13hs-lunes { grid-area: CG-13hs-lunes; }
#CG-13hs-miercoles { grid-area: CG-13hs-miercoles; }
#CG-13hs-viernes { grid-area: CG-13hs-viernes; }

#FD-16hs-sabado { grid-area: FD-16hs-sabado; }

#CG-18hs-lunes { grid-area: CG-18hs-lunes; }
#CG-18hs-miercoles { grid-area: CG-18hs-miercoles; }
#CG-18hs-jueves { grid-area: CG-18hs-jueves; }

#FD-18hs-martes { grid-area: FD-18hs-martes; }
#CG-18hs-sabado { grid-area: CG-18hs-sabado; }




/* PREGUNTAS FRECUENTES */
.faq{
    width: 100%;
    padding: 4% 0;
}

.faq__container{
    max-width: 800px;
    margin: 0 auto;
}

.faq-item {
    padding: 15px 20px;
    border-radius: 16px;
    margin-bottom: 5%;
    border: 2px solid #232323;
}

.faq-item p {
    margin: 0;
    line-height: 1.6;
    text-align: left;
}

.faq-item li{
    font-family: "Lato";
    font-size: 1.1rem;
}

.faq-item p strong {
    display: block;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

/* CONTACTO */

.contacto{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #F8F8F8;
    padding: 4% 0;
}

.contacto__botones{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.contacto__cta{
    background-color: #FF1616;
    color: #F8F8F8;
    font-size: 1.3rem;
    font-family: "Montserrat";
    text-align: center;
    margin: 0 4%;
    padding: 8px 20px;
    border-radius: 100vmax;
    text-decoration: none;
    transition: background-color 1s ease;
}

.contacto__cta:hover{
    background-color: #232323;
}

.contacto__copy{
    text-align: center;
    margin: 4% 4%;
    font-family: "Montserrat";
}

/* MEDIA QUERYS */

@media (max-width: 1080px){

    .class{
        font-size: .8rem;
    }

}

@media (max-width: 1024px) {
    h1 {
        font-size: 1.8rem;
        height: 140px;
    }
    
    h2 {
        font-size: 2.5rem;
    }

    .inicio__nav {
        gap: 3%;
    }

    .inicio_logo_bg{
        max-width:100%;
        top: 10%;
    }

    .inicio__entrenadora {
        height: 60%;
    }

    .inicio__cta__container a {
        font-size: 1.4rem;
        padding: 8px 28px;
    }

    .beneficios {
        gap: 5%;
        padding: 0 4%;
    }

    .beneficios h1{
        font-size: 2.5rem;
    }

    .beneficios__subtitulo {
        font-size: 1.8rem;
    }

    .beneficios__lista {
        font-size: 1.4rem;
    }

    .horarios-container{
        padding: 0 4%;
    }

    .clase-item {
        height: 120px;
        font-size: 1.3rem;
    }

    .contacto__cta {
        font-size: 1.2rem;
    }
}

@media (max-width: 900px) {

    .inicio{
        padding-bottom: 14%;
        height: auto;
    }

    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }
    
    .inicio__cta__container a{
        font-size: 1rem;
        padding: 8px 20px;
    }

    .inicio__fotos{
        display: none;
    }

    .beneficios__subtitulo{
        font-size: 1.4rem;

    }

    .beneficios__lista__punto{
        font-size: 1.2rem;
    }

}

/* Responsive design para móviles */
@media screen and (max-width: 768px) {
    .horarios-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "lunes"
            "CG-9hs-lunes"
            "CG-13hs-lunes"
            "CG-18hs-lunes"
            "martes"
            "FD-18hs-martes"
            "miercoles"
            "CG-9hs-miercoles"
            "CG-13hs-miercoles"
            "CG-18hs-miercoles"
            "jueves"
            "CG-18hs-jueves"
            "viernes"
            "CG-9hs-viernes"
            "CG-13hs-viernes"
            "sabado"
            "FD-16hs-sabado"
            "CG-18hs-sabado";
    }
}

/* Pantallas pequeñas (celulares en modo vertical) */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
        height: 120px;
    }
    
    h2 {
        font-size: 2.5rem;
    }

    .inicio__nav {
        flex-direction: column;
        gap: 10px;
    }

    .inicio__nav__botones {
        font-size: 1rem;
    }

    .inicio__entrenadora {
        height: 50%;
    }

    .inicio__cta__container a {
        font-size: 1.2rem;
        padding: 6px 24px;
    }

    .beneficios {
        flex-direction: column;
        gap: 20px;
    }

    .beneficios h1 {
        font-size: 3rem;
    }

    .beneficios__subtitulo {
        font-size: 1.5rem;
    }

    .beneficios__lista {
        font-size: 1.2rem;
    }

    .clase-item {
        height: 100px;
        font-size: 1.2rem;
    }

    .faq__container {
        padding: 2%;
    }

    .contacto__botones {
        flex-direction: column;
        gap: 20px;
    }

    .contacto__cta {
        font-size: 1rem;
        padding: 6px 16px;
    }
}

@media (max-width: 500px){

    .inicio__clases{
        flex-direction: column;
    }

    .inicio_logo_bg {
        max-width: 250%;
        left: 50%;
        transform: translateX(-50%);
    }

    .beneficios__container__principal{
        flex-direction: column;
    }

    .beneficios__titulo{
        font-size: 2rem;
    }

}

@media (max-width: 350px){

    .inicio_logo_bg {
        max-width: 350%;
    }

}



