@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'montserrat';
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

h2{
    font-family: 'montserrat';
    font-size: 2rem;
    text-align: center;
}

/* NAV */

.inicio__nav{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.inicio__nav__botones{
    text-decoration: none;
    font-family: 'lato';
    font-weight: bold;
}

/* INICIO */

.inicio{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.inicio__clases{
    display: flex;
    height: 100%;
    text-align: center;
    justify-content: center;
}

/* INICIO DANCE */

.inicio__dance{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inicio__dance__container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inicio__dance__titulo{
    color: #44535B;
}

/* INICIO COMBAT */

.inicio__combat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.inicio__combat__container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inicio__combat__titulo{
    color: #B42E39;
}

.inicio__cta__container{
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 20px;
}

.inicio__fotos{
    width: 100%;
}