@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'montserrat';
    font-size: 2rem;
    text-align: center;
    margin: 0;
    height: 150px;
    width: 100%;
    display: flex;
    color: rgb(68, 83, 91);
    align-items: center;
    justify-content: center;
}

h2{
    font-family: 'montserrat';
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

p{
    font-family: 'Lato';
    font-size: 1.2rem;
    text-align: center;
}

/* NAV */

.inicio_logo_bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.inicio__nav{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.inicio__nav__botones{
    text-decoration: none;
    font-family: 'lato';
    font-weight: bold;
}

/* INICIO */

.inicio{
    height: 100vh;
    width: 100%;
}

.inicio__clases{
    display: flex;
    text-align: center;
    justify-content: center;
    height: calc(100% - 80px);
}

.inicio__entrenadora{
    position: absolute;
    left: 50%;
    bottom: 0;
    translate: -50% 0;
    height: 80%;
    filter: drop-shadow(0 -10px 20px #2323238e);
}

/* INICIO DANCE */

.inicio__dance{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inicio__dance__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.inicio__dance__titulo{
    color: #44535B;
}

/* INICIO COMBAT */

.inicio__combat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.inicio__combat__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.inicio__combat__titulo{
    color: #B42E39;
}

/* INICIO CTAs y Fotos */

.inicio__cta__container{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 20px;
}

.inicio__cta__container button{

    border-radius: 32px;
    font-size: 1.5rem;
    padding: 8px 32px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.inicio__cta_principal{
    background-color: #F43614;
    color: #f5f4f4;
    transition: background-color .3s;
}

.inicio__cta_principal:hover{
    background-color: #F9665E;

}

.inicio__cta_secundario{
    outline : 4px solid #F43614;
    background-color: transparent;
    color: #F43614;
    transition: all .6s;
}

.inicio__cta_secundario:hover{
    outline : 4px solid #F9665E;
    color: #F9665E;
}

.inicio__fotos{

    width: 100%;
}

/* BENEFICIOS */

.beneficios{
    max-width: 1200px;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    gap: 10%;
}

.beneficios__container{
    width: 100%;
    height: 100%;
    padding-top: 5%;
}

.beneficios h1{
    font-size: 4rem;
}

.beneficios__combat{
    color: #B42E39;
}

.beneficios__subtitulo{
    font-size: 2rem;
    font-family: "montserrat";
}

.beneficios__lista {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

.beneficios__lista__punto{
    margin: 10px 0;
    list-style: none;
    list-style-image: url("./img/estilos_lista.svg");
}